.categories {
    display: flex;
    justify-content: center;
    padding: 20px;
    
    ul {
      display: flex;
      gap: 15px;
      
      li {
        list-style: none;
  
        img {
          width: 50px;
          height: auto;
        }
      }
    }
  }
  