.nav-marca img {
    margin-left: 0px;
    width: 19%;
    margin-left: 5px;
}

.nav-marca{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.titulo-card{
    font-family:Arial, Helvetica, sans-serif;
}